<aside class="aside perfil">
  <div class="user">
    <img class="profile-icon" src="/static/img/user-photo.jpg" alt="">
    <h3>DevDiego</h3>
    <p>Software developer</p>
  </div>
  <div class="user-content">
    <p>Olá! Esse é meu diario release pessoal.</p> 
  </div>
</aside>