{{!< main}}


<head>
  <title>Releases | DevDiego</title>
   <link rel="stylesheet" href="/abacaxi/estilo.css">
</head>
<body>  
  {{> header}}

  <div class="container">
    {{> aside}}
    <main class="content">
      {{{body}}}
    </main>
    {{> perfil}}
  </div>
{{> footer}}
</body>