{{!< main}}


<head>
  <title>Releases | DevDiego</title>
    <link rel="stylesheet" href="/static/estilos/global.css">
   <link rel="stylesheet" href="/static/estilos/estilo.css">
</head>
<body>  
  {{> header}}

  <div class="container">
    {{> aside}}
    <main class="content">
      {{{body}}}
    </main>
    {{> perfil}}
  </div>
{{> footer}}
</body>