/* --- Variáveis Globais --- */
:root {
  --cor-primaria: #2c3e50;
  --cor-secundaria: #3498db;
  --cor-clara: #d4d7d8;
  --cor-clara1: #ecf0f1;
  --cor-texto: #333;
  --cor-branca: #ffffff;
  --cor-sucesso: #27ae60;
  --cor-destaque-bg: #e74c3c;
  --cor-destaque-texto: #ffffff;

  --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --espacamento-padrao: 1rem;
  --raio-borda: 8px;
  --sombra-padrao: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transicao-rapida: 0.3s ease;
}

/* --- ESTILOS GLOBAIS --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}