<header class="form-header" style="background-color: {{bgColor}};">
  <h1 class="form-title">Cadastro de Postagens</h1>
</header>

<form action="/add" method="POST" class="insertPost">
  
 <label for="insereTitulo">Titulo: </label>
 <input type="text" name="insereTitulo" class="insereTitulo">

 <label for="insereTitulo">Conteúdo:</label>
 <textarea name="insereConteudo" class="insereConteudo"></textarea>

 <button type="submit" class="botaoVerde">Cadastrar Postagem</button>
</form>

{{!-- <img class="imagem" src='/imagens/joia.jpg' alt=""> --}}